version: '3.8'
services:
  rabbitmq:
    image: masstransit/rabbitmq
    ports:
      - "5676:5672"
      - "15676:15672"

  mongodb:
    image: mongo
    ports:
      - "27021:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: